/* Styling for the menu selection container */
.menu-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Styling for the menu selection title */
  .menu-selection-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Styling for the total price */
  .total-price {
    font-size: 20px;
    margin-top: 25px;
  }
  
  /* Styling for the loading message */
  .loading-message {
    font-size: 18px;
    color: #6c757d;
  }
  
  /* Styling for the place order button */
  .place-order-button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .place-order-button:hover {
    background-color: #218838;
  }

  /* Styling for each menu item */
  .menu-item {
    display: flex;
    flex-direction: column;
    background-color: #e5fd5e;
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 80px;
    text-align: center;
    border: solid #007bff;
    cursor: pointer;
  }
  .menu-item:hover {
    background-color: #b2e400;
  }

  #myDIV {
    border: 1px solid black;
    width: 400px;
    height: 100px;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    50% {
      font-size: 22pt;
      font-weight: bold;
      font-style: oblique;
      color: red;
    }
  }

  .menu-item a {
    margin: 0px;
    font-size: 14pt;
    color: #b2e400;;
    animation: mymove 5s infinite;
  }
  
  .menu-item h3 {
    margin: 0;
    font-size: 16pt;
    
  }
  
  .menu-item p {
    margin: 5px 0;
  }

/* Styling for the menu list container */
.menu-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Styling for the category buttons */
  .category-buttons {
    display: flex;
    gap: 60px;
  }

  /* Styling for the category button containers */
.category-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 210px;
}

  /* Style the images inside the category button containers */
.category-image {
  width: 200px;
  height: 160px;
  background-size: cover;
  padding: 5px;
  background-position: center;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.category-image:hover {
  width: 240px;
  height: 200px;
}

  /* Style the active button with a colored border */
.category-image.active-button {
  background-color: lightcoral;
  border-color: rgb(218, 82, 33);
}

/* Style the category labels */
.category-label {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

  /* Styling for the menu navigation buttons */
.menu-nav-buttons {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

/* Style the navigation buttons */
.menu-nav-buttons button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 5px;
  border: none;
  outline: none;
}
  
  .menu-list-container button:hover {
    background-color: #0056b3;
  }
  
  /* Styling for the current item container */
  .current-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #select-item-text {
    font-size: 9pt;
  }